.header__link{
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 5px;
   
}
.header__link:hover{
    text-decoration: underline;
    color: var(--data-color);
    
    
    
}
.header__link-mob{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    
}