.header__link{
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    margin: 0 5px;
   
}
.header__link:hover{
    color: #404040;
}
.header__link-mob{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    
}